html{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #000000;
  padding: 3.75rem;
  --sectioning-gap: 3.75rem 0;
  --flex-gap: 3.75rem;
  --card-padding: 2rem;
}
